* {
  background-image: none;
  box-shadow: none;
  font-family: "MesloLGS Nerd Font Mono";
  font-size: 18px;
}

window {
  background-color: rgba(29, 32, 33, 0.85);
}

button {
  color: #ebdbb2;
  background-color: #282828;
  border-radius: 8px;
  border: none;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40%;
}

button:hover {
  background-color: #3c3836;
  color: #d4a0b9;
}

button:focus {
  outline-style: none;
}

#reboot {
  background-image: image(url("/usr/share/wlogout/icons/reboot.png"));
}

#shutdown {
  background-image: image(url("/usr/share/wlogout/icons/shutdown.png"));
}
